[Unit]
Description=Traefik is a modern HTTP reverse proxy and load balancer 
After=network.target

[Service]
#Type=simple
User=root
#RuntimeDirectory=traefik
RuntimeDirectoryMode=0775
ExecStart=/usr/local/bin/traefik -c /etc/traefik/traefik.toml
KillSignal=SIGTERM
#PermissionsStartOnly=true

# saving a big db on slow disks may need some time
TimeoutStopSec=60

# restart nomad if it crashes
Restart=always
RestartSec=10

#OOMScoreAdjust=0

# By default nomad switches to scheduling policy idle, which makes it use CPU, only
# when there is spare available.
# Valid policies: other (the system default) | batch | idle | fifo | rr
#CPUSchedulingPolicy=other

# This sets the maximum scheduling priority nomad can set (for policies: rr and fifo).
# Priority gets values 1 (lowest) to 99 (highest).
CPUSchedulingPriority=99

#Nice=0

[Install]
WantedBy=multi-user.target
