mfsroot -fstype=fuse,noatime,mfsmemlock,mfsmaster={{ moosefs['master'] }},mfsreadaheadsize=2,mfsreadaheadleng=32768,mfsattrcacheto=60,mfsentrycacheto=120,mfsdirentrycacheto=90,mfsnegentrycacheto=60,mfsfsyncmintime=60,mfssubfolder=/ \:mfsmount
